@import "./colors.scss";
@import "./mixins/globalmixins.scss";
@import "./mixins/buttons.scss";
@import "./mixins/input.scss";
@import "./mixins/search.scss";
@import "./mixins/modal.scss";
@import "./mixins/position.scss";
@import "./mixins/icons.scss";

html, body {
    height: 100%;
    overflow-y: hidden;
}

#__next, .reception_box {
    height: 100%;
}

.reception_box {
    position: relative;
    overflow-y: scroll;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reception_box.flip {
    transform: translateX(-100%);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: $white;
    background-color: $primaryBlack;
    font-family: "Roboto"; 
}

.secondary_button {
    @include secondary_button();
}

main {
    overflow-x: hidden;
    position: relative;
    .app_container {
        position: relative;
    }
    .profile {
        position: fixed;
        @include centerAbsolutePosition();
        height: 440px;
        width: 85%;
        background: $white;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity .2s ease-in, transform .2s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: 0 0 20px $secondaryBlack;

        .close_icon {
            @include closeIcon();
        }
        
        .profile_pic {
            position: relative;
            height: 45%;
            background: $secondaryGreen;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .user_icon {
                position: absolute;
                @include centerAbsolutePosition();
                display: block;
                height: 60%;
                fill: $white;
            }
        }

        .infos_container {
            position: relative;
            height: 55%;
            .infos {
                position: absolute;
                width: 180px;
                height: 210px;
                letter-spacing: 2px;
                line-height: 1.35;
                @include centerAbsolutePosition();
                color: $secondaryBlack;
                .key {
                    font-weight: bold;
                }
                .secondary_button {
                    width: 180px;
                    margin-top: 15px;
                    color: $fail;
                    transition: filter .3s ease-in;
                }
                .secondary_button:hover {
                    filter: contrast(0.8);
                }
            }
        }
    }

    .profile.visible {
        opacity: 1;
        transform: translateY(0);
    }

    .modal_container {
        @include modal_container();
        .modal {
            height: 145px;
        }
    }
}

p {
    margin: 0
}

.logo {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
}

.logo_for_opening_loader {
    @include circle();
    margin: 0 auto;
    background-color: $secondary;
}

.primary_button {
    @include button();
    display: block;
    background: $primary;
}

.primary_button.create_conversation {
    border-radius: 50%;
    width: 40px;
    box-shadow: 0 0 5px $primary;
    position: fixed;
    bottom: 95px;
    right: 20px;
    transition: transform .3s ease-in;
    svg {
        fill: $white;
        width: 20px;
        height: 20px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.login_page {
    display: block;
    height: 100%;
    position: relative;

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    form {
        @include center_absolute_position();
        .form_group {
            @include form_group();
            input {
                @include input();
                background: $white;
            }
    
            .password_input {
                margin-bottom: 30px;
            }
            
            .remember_me_input {
                @include input();
                position: absolute;
                left: 0;
                display: inline-block;
                width: unset;
                height: unset;
                color: $primary;
            }
        }
    
        .form_group.form_group_remember_me_input {
            position: relative;
            text-align: center
        }

        .primary_button {
            @include button();
            display: block;
            background: $primary;
            margin: 0 auto;
        }
            
        .no_account_yet {
            margin-top: 40px;
            text-align: center;
            .registration_link_from_login {
                @include link();
            }
        }
    }
}

.registration_page {
    display: block;
    height: 100%;
    position: relative;
    form {
        @include center_absolute_position();
        .inline_block_inputs {
            width: 100%;
            .form_group_name_input {
                display: inline-block;
                width: 60%;
                input {
                    width: calc(100% - 15px);
                }
            }

            .form_group_firstname_input {
                display: inline-block;
                width: 25%;
                margin-left: 20px;
                input {
                    width: calc(100% + 15px);
                }
            }
        }

        .form_group {
            @include form_group();
        }
        
        .form_group_man_radio_button, .form_group_woman_radio_button {
            display: flex;
            justify-content: flex-start;
            label {
                margin-left: 10px
            }
            input {
                color: $primary;
                height: unset;
                width: unset;
                margin: 0;
            }
        }
        .form_group_man_radio_button {
            margin-bottom: 10px
        }

        input {
            @include input();
            background: $white;
        }

        .primary_button {
            @include primary_button_with_arrow_right();
            margin-top: 30px
        }

        .secondary_button {
            @include secondary_button();
        }

        .profile_photo_choice {
            position: relative;
            margin: 0 auto;
            margin-bottom: 30px;
            height: 100px;
            width: 100px;
            background: $secondary;
            border-radius: 50%;
            transition: background .3s;
            cursor: pointer;
            .camera_icon {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
                margin: auto;
                color: $primary;
                transform: scale(1.5);
                fill: $secondary;
                transition: color .3s;
                path {
                    fill: $primary;
                }
            }
            .camera_icon.shrunk {
                color: $secondary;
                fill: $primary;
                transform: scale(1);
                bottom: -70px;
                right: -50px;
            }
            &:hover {
                background: $primary;
                .camera_icon {
                    color: $secondary;
                }
                .camera_icon.shrunk {
                    color: $primary;
                    fill: $secondary;
                }
            }
            
            #selected_image_canvas {
                border-radius: 50%;
            }
        }

        .registration_progress {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            .bar {
                @include bar();
                &.active {
                    background-color: $secondaryGreen;
                    height: 8px;
                }
            }
            .bar_2, .bar_3 {
                margin-left: 20px;
            }
        }
    }
    
    .congrats_for_subscription {
        width: 400px;
        height: 600px;
        margin: 0 auto;
        transform: translateY(30%);
        .subscribed {
            text-align: center;
            color: $success;
            font-size: 30px;
            transform: translateY(15px);
            opacity: 0;
            transition: opacity .3s, transform .3s ease-out;
        }
        .subscribed.visible {
            opacity: 1;
            transform: translateY(0);
        }
        .man_flying_with_welcome_banner {
            display: block;
            z-index: 5;
            transform: translateY(60px);
            opacity: 0;
            transition: transform 1.5s, opacity .3s;
        }
        .man_flying_with_welcome_banner.show {
            transform: translateY(0);
            opacity: 1;
        }
        a {
            text-decoration: none;
        }
        .primary_button {
            @include primary_button();
            margin: 0 auto;
            z-index: 20;
        }
    }
}

.app_header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
    background-color: $secondaryBlack;
    z-index: 15;
    .logo {
        @include logo();
    }
    .hamburger_menu {
        @include hamburger_menu();
    }
}

.search_bar_container {
    position: fixed;
    height: 50px;
    left: 0;right: 0;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primaryBlack;
    z-index: 10;
    .search_bar {
        @include search_bar();
    }
}

.list_conversations {
    margin-top: 110px;
    .conversation {
        @include conversation();
    }
}

.app_footer {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 40px);
    height: 39px;
    padding: 20px;
    border-top: 1px solid $white;
    position: fixed;
    bottom: 0;
    background-color: $primaryBlack;
    .message_circle, .user_friends {
        display: block;
        width: 30px;
        height: 30px;
        stroke: none;
        fill: $primary;
    }
    .active {
        stroke: none;
        fill: $white;
    }
}

.list_active_friends {
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    .active_friend {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $white;
        
        .status_online, .username {
            position: absolute;
            bottom: 10px;
        }
        .status_online {
            @include status_online();
            right: 20px;
        }
        .username {
            left: 20px;
        }
    }
}

.search_results {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 60px;
    width: 360px;
    height: auto;
    border-radius: 10px;
    background-color: $secondary;
    overflow-y: scroll;
    z-index: 15;
    .search_result {
        @include search_result();
    }
}

.search_results.receivers {
    top: -10px;
}

.user_conversation {
    position: relative;
    height: 100%;
    background-color: $primaryBlack;
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .conversation_header {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: $secondaryBlack;
        padding: 20px;
        height: 40px;
        color: $white;
        .go_back_button {
            @include goBackButton();
        }
        .adressee {
            position: relative;
        }
        .adressee .username {
            position: absolute;
            top: 0;
            right: 50px;
        }
        .adressee .profile_pic, .adressee .no_profile_pic {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .adressee .no_profile_pic {
            @include no_profile_pic();
            height: 30px;
            width: 30px
        }
        .adressee .status_online {
            @include status_online();
            position: absolute;
            right: 50px;
            top: 30px;
        }
    }

    .conversation_content {
        padding: 20px 40px 0 40px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 320px;

        .messages_container {
            display: flex;
            flex-direction: column;
        }

        .message {
            margin-top: 20px;
            position: relative;
        }

        .datetime {
            font-style: italic;
            font-size: 13px;
            color: $secondary;
            margin-top: 5px;
        }

        .bubble {
            display: inline-block;
            width: 0;
            height: 0;
            padding: 10px;
            border-radius: 10px;
            transition: height .3s ease-in, width .3s;
        }

        .message.incoming {
            align-self: flex-start;
            .bubble {
                background-color: $secondary;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10px;
                    border-top: 20px solid $secondary;
                    border-left: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                }
            }
            .datetime {
                text-align: left;
            }
        }

        .message.outgoing {
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            .bubble {
                background-color: $primary;
                &::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    bottom: 21px;
                    border-bottom: 20px solid $primary;
                    border-right: 20px solid transparent;
                    border-top: 20px solid transparent;
                }
            }
            .datetime {
                text-align: right;
            }
        }

        .show_bubble .bubble {
            transform-origin: bottom right;
            height: auto;
            width: auto;
        }
    }

    .conversation_footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        padding: 20px;
        background: $primaryBlack;
        border-top: 1px solid $white;
        .actions_buttons {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
            width: 160px;
            .uploads {
                .add_file_button, .add_image_button {
                    @include action_button();
                }
                .add_image_button {
                    margin-right: 10px
                }
                .add_file_button {
                    fill: none;
                    stroke: $primary;
                }
            }
            .peers {
                margin-left: 40px;
                .microphone_button, .video_call_button {
                    @include action_button();
                }
                .microphone_button {
                    margin-right: 10px;
                }
            }
        }

        .message_textarea {
            width: 260px;
            height: 40px;
            padding: 10px 20px;
            border-radius: 15px;
        }

        .send_button {
            border: none;
            padding: 0;
            background: $primaryBlack;
            width: 50px;
            height: 50px;
            margin-left: 20px;
            .send_icon {
                display: inline-block;
                height: 100%;
                width: 100%;
                fill: $primary;
                stroke: $white;
                stroke-width: 1px;
                margin-bottom: 5px;
            }
            .send_icon.disabled {
                fill: $secondaryGreen;
            }
        }
    }
}

.user_conversation.flip {
    transform: translateX(0);
}

.user_conversation.blocked {
    .conversation_header {
        .adressee .status_online {
            display: none;
        }

        .blocked_user {
            color: $fail;
            font-size: 12px;
            font-style: italic;
            position: absolute;
            right: 50px;
            top: 25px;
        }
    }

    .conversation_content {
        .message .bubble {
            background-color: $secondary;
        }
        .message .bubble::after {
            border-bottom: 20px solid $secondary;
        }
    }

    .conversation_footer {
        .actions_buttons .uploads {
            .add_image_button {
                fill: $secondary;
            }
            .add_file_button{
               stroke: $secondary;
            }
        }
        .actions_buttons .peers {
            .microphone_button, .video_call_button {
                fill: $secondary;
            }
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 15;
    background-color: $secondaryBlack;
    transition: width .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu.active {
    width: 100%;
    .go_back_button {
        @include goBackButton();
        margin-left: 10px;
        margin-top: 10px;
    }

    ul {
        padding-left: 15px;
        padding-right: 15px;
    }

    li {
        list-style: none;
        color: $primary;
        background: $secondary;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    li.logout {
        color: $fail;
    }
}

