@import "../mixins/globalmixins.scss";
@import "@/styles/sass/colors.scss";

.opening_app_loader {
    position: relative;
    height: 100%;
    width: 100%
}

.applogo_and_name {
    @include center_absolute_position();
    text-align: center;
    .app_name {
        margin-top: 20px;
    }
}

.copyright {
    display: block;
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
    text-align: center;
    width: 100%;
    .copyright_owner {
        margin-bottom: 10px;
    }
}

.progress_bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: $success;
    transition: witdh .3s ease;
}