@import "../colors.scss";

.menu {
    position: absolute;
    top: 0;
    right: 6px;
    padding: 6px;
    font-size: 12px;
    background: $primaryBlack;
    border-radius: 5px;
    box-shadow: 0 0 3px $secondary;
    color: $fail;
    opacity: 0;
    transition: opacity .3s ease-in, top .3s ease-in;
}

.visible {
    opacity: 1;
    top: -30px;
}